# Ignorar cache e arquivos compilados
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignorar ambientes virtuais
venv/
env/

# Ignorar arquivos de distribuição e build
build/
dist/
*.egg-info/

# Ignorar configurações locais e temporárias
*.log
*.sqlite3
.DS_Store

# Ignorar arquivos de ambiente (senhas, chaves, etc.)
.env
